body {
  background-color: #f9efdb;
}

.weatherBox {
  display: grid;
  grid-template-areas:
    "searchBar searchBar searchBar"
    "cityName cityName cityName"
    "cityInfo cityInfo tempIcon"
    "space space space"
    "footer footer footer";

  background-color: #63888985;
  padding: 30px;
  max-width: 60%;
  min-height: 50%;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 5px;
}
form {
  grid-area: searchBar;
}
#searchBar {
  margin-left: 25%;

  display: inline;
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9efdb;
  border-style: none;
}

#searchBtn {
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  border-style: none;
  background-color: #d0c7b5;
  color: #63888985;
  font-weight: bold;
}

#searchBtn:hover {
  background-color: #63888985;
  color: #d0c7b5;
}
#cityName {
  grid-area: cityName;
  color: rgb(73, 72, 72);
}
p {
  color: rgb(73, 72, 72);
  grid-area: cityInfo;
}

.makeBold {
  font-weight: bolder;
}

footer {
  grid-area: footer;
  color: #4d6566;
}
img {
  display: inline;
}
#iconTemp {
  grid-area: tempIcon;
}

#currTemp {
  font-size: 45px;
  position: relative;
  top: -30px;
}

#degree {
  position: relative;
  top: -50px;
  font-size: 15px;
}
